BPay Project – Installation Requirements

1. Required Software
Install these first:
Node.js
npm
Git
VS Code
Expo Go app on phone ( Currently Vendaa, QR image upload aakiya madhi Snipping tool vech snip aaki )

2. Project Folders
BPay/
│
├── BillPayBackend/
├── BillPayShop/
├── BillPayApp/
└── BPaySmartPOS/

3. Backend Installation:
npm init -y

npm install express cors

node server.js

4. BPay Shop Website:
npm install

npm install react-router-dom
npm install qrcode.react

npm run dev

5. BPay Customer App:
npm install

npm install @react-navigation/native
npx expo install react-native-screens react-native-safe-area-context
npm install @react-navigation/native-stack
npx expo install @react-native-async-storage/async-storage
npx expo install expo-camera
npx expo install expo-image-picker

npx expo start -c

6. BPay Smart POS:
npm install

npm install react-native-qrcode-svg
npx expo install react-native-svg
npx expo install expo-speech
npm install @react-navigation/native
npm install @react-navigation/native-stack
npx expo install react-native-screens react-native-safe-area-context

npx expo start -c

7. BPay Expense Manager:
npm install 

npx expo install @react-native-async-storage/async-storage
npx expo install expo-notifications
npx expo install react-dom react-native-web @expo/metro-runtime

npx expo start -c
